# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build output
dist/
build/
out/

# Dependency directories
jspm_packages/

# Typescript v1 declaration files
typings/

# Miscellaneous
.DS_Store
Thumbs.db

# Coverage directory used by tools like istanbul
coverage/

# IDE and editor settings
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Temporary files
temp/
tmp/
